.Footer {
	background-color: var(--color-primary);
}

.Prefooter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: flex-start;

	@media only screen and (max-width: 44.25rem) {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 4rem;
	}
}

.Logo {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}
.Heading {
	font-size: 2.4rem;
	font-weight: 500;
	color: var(--color-text-white);
	margin-bottom: 2rem;
}

.Link {
	font-size: 2rem;
	font-weight: 400;
	color: var(--color-text-white);
}
.Item {
	margin-bottom: 1rem;
}

.Messangers {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;

	@media only screen and (max-width: 34rem) {
		justify-content: center;
	}
}

.Container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7rem;
	background-color: var(--color-secondary);
	border-top: 3px solid var(--color-primary);
	border-bottom: 3px solid var(--color-primary);

	@media only screen and (max-width: 40rem) {
		flex-direction: column;
		justify-content: center;
		gap: 1.5rem;
		height: fit-content;
		padding: 2rem 0;
	}
}

.Copyright {
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 1rem;
}
