.Steps {
	max-width: 100vw;
	min-height: 100vh;
	padding: 9.6rem 0;
}

.Slide {
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100vh;
	// display: flex !important;
	// justify-content: flex-start !important;
	// align-items: center !important;
	padding: 9.6rem 7rem;
}
