:root {
	--font-family-text: 'Onest', sans-serif;
	--font-family-headings: 'Onest', sans-serif;

	--font-size-m: 16px;
	--font-size-l: 24px;
	--font-size-xl: 32px;

	--font-line-m: 24px;
	--font-line-l: 32px;
	--font-line-xl: 48px;

	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-text);
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-text);
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-text);

	--navbar-height: 50px;

	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	--modal-z-index: 10;

	--overlay-color: rgba(0 0 0 / 60%);
	--color-primary: #3c7b68;
	--color-secondary: #222;
	--color-text-white: #fff;
	--color-text-black: #222;
	--color-text-grey: #a2a2a2;
	--color-text-grey-2: #9ca3af;

	--swiper-pagination-fraction-color: #fff;
	--swiper-pagination-color: var(--color-primary);
	--swiper-pagination-bullet-size: 16px;

	--white: #fffeff;
	--blue: #4437ff;
	--blue-light: #4bc9f0;
	--blue-dark: #1a10b1;
	--purple: #9757d7;
	--purple-light: #cdb4db;
	--pink: #ef466f;
	--green: #45b26b;
	--asphalt: #e4d7cf;
	--yellow: #ffd166;
	--neutrals1: #141416;
	--neutrals2: #23262f;
	--neutrals3: #353945;
	--neutrals4: #777e90;
	--neutrals5: #b1b5c3;
	--neutrals6: #e6e8ec;
	--neutrals7: #f4f5f6;
	--neutrals8: #fcfcfd;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;

	@media (max-width: 75em) {
		font-size: 56.25%;
	}

	@media (max-width: 56.25em) {
		font-size: 50%;
	}

	@media (min-width: 112.5em) {
		font-size: 75%;
	}
}

body {
	font-family: var(--font-family-text);
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}
input[type='radio']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
}

input[type='radio']:checked::before {
	transform: scale(1);
}
