.Contacts {
	@media only screen and (max-width: 58.875rem) {
	}
}

.Info {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.InfoIcon {
	width: 32px;
	height: 32px;
}

.InfoEntity {
	display: flex;
	align-items: center;
	gap: 0 10px;
	padding: 1rem 0;
}

.InfoValue {
	transition: all 0.3s ease-out;

	&:hover {
		& > p {
			color: var(--color-primary);
		}

		color: var(--color-primary);
	}
}

.InfoTitle {
	font-size: 2.4rem;
	font-weight: 500;
	color: var(--color-text-black);
	margin-bottom: 2rem;
}

.LinkText {
	font-size: 2rem;
	font-weight: 400;
	color: var(--color-text-black);
}
